@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Prevent blue tap highlights on mobile */
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom smooth transition on tap scale */
.active-scale {
  transition: transform 75ms cubic-bezier(0, 0, 0.2, 1);
}
.active-scale:active {
  transform: scale(0.95);
}
